<main>
<div class="splash container">
  <h2>SMART SAVER</h2>
  
  <div>
  <div class="d-grid gap-2">
    <%= link_to "LOG IN", new_user_session_path, class: "btn btn-1 btn-primary-custom" %>
    <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary-custom" %>
</div>
</main>
</div>