.fa-bars::before {
  content: "\f0c9";
  font-family: FontAwesome, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-right: 5px;
}

.sign-out {
  color: #000;
  padding: 0.8rem 0.8rem;
  font-size: 0.7rem;
  border-radius: 5px;
  background-color: white;
}

.next {
  color: #fff;
}

img {
  width: 50%;
}

.container {
  margin-top: 3%;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.icon {
  object-fit: contain;
  width: 50%;
}

.actions {
  background: #5fb523;
  text-align: center;
  padding: 20px;
}

.actions a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.splash {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  height: 80vh;
  top: 0;
  padding: 50px;
}

.splash h2 {
  font-style: italic;
}

.btn-1 {
  background: blue;
  color: #fff;
  font-size: 24px;
}

.form-input {
  padding: 20px;
  width: 80%;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.log-in {
  width: 20%;
  margin: 20px;
  background: blue;
}
