.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  color: #fff;
  background-color: rgb(17, 133, 241);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.fa-bars::before {
  content: "\f0c9";
  font-family: FontAwesome, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-right: 5px;
}

.back {
  color: #fff;
  text-decoration: none;
}

.sign-out {
  color: #000;
  padding: 0.8rem 0.8rem;
  font-size: 0.7rem;
  border-radius: 5px;
  background-color: white;
}

.next {
  color: #fff;
}
