<nav class="header">
<h2><i class="fa fa-bars" aria-hidden="true"></i></h2>
  <div>
    <p> EDIT CATEGORY </p>
  </div>
  <div>
    <%= link_to "Back", categories_path, class: "back" %>
  </div>
</nav>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Show this category", @category %>
  <%= link_to "Back to categories", categories_path %>
</div>
