<div class="card w-80 shadow-sm bg-white mb-2  d-flex justify-content-between">
  

     <div class="col p-2 ">
       <%= transaction.name %>
    </div>
    <div class="col p-2">
     
      $ <%= transaction.amount %>
     
    </div>
 
</div>