<div class="card w-100 shadow-sm bg-white mb-2  d-flex justify-content-between">
<div class= "row g-0">

  <div class="col p-2">
    <%= transaction.name %>
  </div>
  <div class="col p-2">
    <p>
      $ <%= transaction.amount %>
    </p>
  </div>
  </div>
</div>