
<nav class="bg-primary text-white d-flex justify-content-between p-4 mt-1">
<div>
<%= link_to transactions_path, class: "text-white fs-4 " do %>
 <i class="fa fa-angle-left" aria-hidden="true"></i>
<% end %>
</div>

<div>
 <p class: "text-white fs-3 fw-bold "> NEW TRANSACTION  </p>
</div>

<div>
<%= link_to root_path, class: "text-white fs-4 " do %>
 <i class="fa fa-search" aria-hidden="true"></i>
<% end %>
</div>
</nav>


<div class="new-head">
  <%= link_to transactions_path(category_id: 1), class: "back-link" do %>
    <i class="bi bi-arrow-left"></i>
  <% end %>
</div>

<%= render "form", transaction: @transaction %>